/* The following CSS file was made by Xander Lemmens */
/* This CSS file is open-source and should never be sold for any amount of currency. */
/* more on www.github.com/Ksandur */
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

/*Navigation Bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #111;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 420;
}

ul:hover{
    opacity: 1;
}

li {
    display: inline-block;
}

li a {
    display: inline-block;
    color: #808080;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition 0.5s;
}

li a:hover {
    color: #FFFFFF;
}

.active {
    color: #FFFFFF;
}

.active:hover {
    color: #FFFFFF;
}

ul li ul {
    background: #111;
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 2.5em;
    left: 0;
    display: none;
}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}

/* Site split */
.indexsplit {
    height: 100%;
    width: 50%;
    position: absolute;
}

.indexcentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0.5vw;
}

/* Left Side */
.indexleft {
    left: 0;
}

.indexleft h1{
    font-size: 2.5vw;
    font-family: 'Source Code Pro', monospace;
}

.indexleft h3{
    font-size: 1vw;
    margin-bottom: 2.2vw;
}

.indexleft p{
    margin-top: 1vw;
    font-size: 0.8vw;
}

.indexlimage img {
    width: 18vw;
    border-radius: 2%;
    cursor: default;
}

.indexlimage img:hover{
    box-shadow: 2px 2px 4px #000000;
    transition: 0.5s;
}

/* Right Side*/
.indexright {
    background-color: rgba(0, 0, 0, 0.35);
    right: 0;
    color: #FFFFFF;
}

.indexprojects img{
    width: 18vw;
    border-radius: 2%;
    transition: 0.5s;
    cursor: pointer;
}

.indexprojects img:hover{
    box-shadow: 4px 4px 8px #000000;
    transition: 0.5s;
}

.projectheading h2{
    font-size: 2vw;
}

.projectheading p{
    margin-top: -0.4vw;
    margin-bottom: 2.2vw;
    font-size: 1vw;
    opacity: 0.8;
}

.indexprojects h3{
    margin-top: 1vw;
    font-size: 1vw;
}

.indexprojects p{
    margin-top: 0.4vw;
    font-size: 0.8vw;
    opacity: 0.8;
}

.indexprojects a{
    font-size: 0.7vw;
    text-decoration: none;
    color: #b8e8ff;
}

.indexprojects a{
    transition: 0.5s;
}

.indexprojects a:hover{
    letter-spacing: 0.1vw;
    transition: 0.5s;
}

/* Animatie page */
.animatiecontent{
    text-align: center;
    color: #FFFFFF;
}

.animatiecontent h2{
    font-family: 'Peddana', serif;
    font-style: normal;
    color: #ffffff;
}

.animatiecontent video{
    width: 30vw;
    height: 15vw;
}

table.center{
    margin-left: auto;
    margin-right: auto;
}

/* Mobile View */
@media only screen and (max-width: 600px) {
    .indexleft, .indexright{
        left: 0;
        right: 0;
        height: 50%;
    }
    .indexleft{
        top: 0;
    }
    .indexright{
        bottom: 0;
    }
    .indexright h2, h3, p{
        color: #FFFFFF;
    }
    .indexsplit{
        width: 100%;
    }
    .indexlimage img{
        width: 40vw;
        border-radius: 50%;
        cursor: default;
    }
    .indexleft h1{
        font-size: 10vw;
        font-family: 'Source Code Pro', monospace;
    }

    .indexleft h3{
        font-size: 4vw;
    }

    .indexleft p{
        visibility: hidden;
    }
    
    .projectheading{
        margin-top: 70vw;
    }
    
    .indexprojects img{
        width: 50vw;
        border-radius: 2%;
        transition: 0.5s;
        cursor: pointer;
    }
    .projectheading h2{
        margin-top: -50vw;
        font-size: 10vw;
    }

    .projectheading p{
        margin-top: -0.4vw;
        margin-bottom: 2.2vw;
        font-size: 6vw;
        opacity: 0.8;
    }
    .indexprojects h3{
        visibility: hidden;
    }

    .indexprojects p{
        visibility: hidden;
    }

    .indexprojects a{
        margin-top: 40vw;
        font-size: 4vw;
        text-decoration: none;
        color: #b8e8ff;
        transition: 0.5s;
    }
    
    .indexprojects img{
        visibility: hidden;
        height: 0vw;
    }

.   indexprojects a:hover{
        letter-spacing: 0.1vw;
        transition: 0.5s;
    }
    
    
}